.main {
    text-align: center;
    justify-content: center;
    display: flex;
    padding: 90px 0 90px 0;
  
    background-color: rgb(219, 214, 214);
  }
  
  .sub-main {
    display: flex;
    justify-content: center;
    height: 550px;
    width: 35%;
    box-shadow: 11px 12px 13px 12px rgb(207, 207, 207);
    padding-top: 30px;
    border-radius: 60px;
    background-color: white;
  }
  
  .imgs {
    padding-top: 20px;
    justify-content: center;
    display: flex;
  }
  
  .container-image {
    background-color: rgb(223, 221, 221);
    border-radius: 150px;
    align-items: center;
    display: flex;
    height: 115px;
    width: 115px;
  }
  .profile {
    height: 100px;
    width: 100px;
    border-radius: 130px;
    margin-left: 7px;
    margin-bottom: 2px;
  }
  
  input {
    height: 50px;
    width: 300px;
    border-radius: 60px;
    box-shadow: inset 0px 0px 25px 0px #888;
    border: none;
    outline: none;
    background-color: #fff;
  }
  
  .email{
    height: 25px;
    width: 25px;
    position: absolute;
    padding: 14px 0 0 25px;
  }
  
  .name{
    padding-left: 70px;
    font-size: 20px;
  }
  
  .second-input {
    padding-top: 20px;
  }
  
  button{
    cursor: pointer;
    width: 380px;
    height: 50px;
    border-radius: 60px;
    background-color: #b103fc;
    color: white;
    font-size: 25px;
    border: none;
    outline: none;
  }
  .login-button{
    padding-top: 25px;
  }
  
  .link{
    font-size: 25px;
    font-weight: 400;
  }
  
  .a{
    color: blue;
  }

  @media only screen and (max-width: 600px) {

    .sub-main {
        display: flex;
        justify-content: center;
        height: 275px;
        width: 35%;
        box-shadow: 11px 12px 13px 12px rgb(207, 207, 207);
        padding-top: 15px;
        border-radius: 30px;
        background-color: white;
      }
      
      .imgs {
        padding-top: 10px;
        justify-content: center;
        display: flex;
      }
      
      .container-image {
        background-color: rgb(223, 221, 221);
        border-radius: 75px;
        align-items: center;
        display: flex;
        height: 57.5px;
        width: 57.5px;
      }

    .profile {
        height: 50px;
        width: 50px;
        border-radius: 65px;
        margin-left: 3.5px;
        margin-bottom: 1px;
      }
      
      input {
        height: 25px;
        width: 100px;
        border-radius: 30px;
        box-shadow: inset 0px 0px 12px 0px #888;
        border: none;
        outline: none;
        background-color: #fff;
      }
      
      .email{
        height: 12.5px;
        width: 2.5px;
        position: absolute;
        padding: 7px 0 0 12.5px;
      }
      
      .name{
        padding-left: 35px;
        font-size: 10px;
      }
      
      .second-input {
        padding-top: 10px;
      }
      
      button{
        cursor: pointer;
        width: 150px;
        height: 25px;
        border-radius: 30px;
        background-color: #b103fc;
        color: white;
        font-size: 12.5px;
        border: none;
        outline: none;
      }
      .login-button{
        padding-top: 12.5px;
      }
      
      .link{
        font-size: 12.5px;
        font-weight: 200;
      }
      
    }
  





    @media only screen and (max-width: 500px) {

        h1{
            font-size: 20px;
        }
        .sub-main {
            display: flex;
            justify-content: center;
            height: 300px;
            width: 70%;
            box-shadow: 11px 12px 13px 12px rgb(207, 207, 207);
            padding-top: 15px;
            border-radius: 30px;
            background-color: rgb(243, 234, 242);
          }
          
          .imgs {
            padding-top: 10px;
            justify-content: center;
            display: flex;
          }
          
          .container-image {
            background-color: rgb(223, 221, 221);
            border-radius: 75px;
            align-items: center;
            display: flex;
            height: 57.5px;
            width: 57.5px;
          }
    
        .profile {
            height: 50px;
            width: 50px;
            border-radius: 65px;
            margin-left: 3.5px;
            margin-bottom: 1px;
          }
          
          input {
            height: 25px;
            width: 180px;
            border-radius: 30px;
            box-shadow: inset 0px 0px 12px 0px #888;
            border: none;
            outline: none;
            background-color: #fff;
          }
          
          .email{
            height: 12.5px;
            width: 15px;
            position: absolute;
            padding: 7px 0 0 12.5px;
          }
          
          .name{
            padding-left: 35px;
            font-size: 13px;
          }
          
          .second-input {
            padding-top: 10px;
          }
          
          button{
            cursor: pointer;
            width: 180px;
            height: 25px;
            border-radius: 30px;
            background-color: #bc3ff1;
            color: white;
            font-size: 15px;
            font-weight: bold;
            border: none;
            outline: none;
          }
          .login-button{
            padding-top: 12.5px;
          }
          
          .link{
            font-size: 12.5px;
            font-weight: 200;
          }
          
        }
      